.navbar-custom .footer-custom {
    background-color: #007bff; /* Custom blue color */
    color: white;
  }
  
  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand,
  .navbar-custom .dropdown-toggle {
    color: white;
  }
  
  .navbar-custom .nav-link:hover {
    color: #ccc;
  }
  .dropdown-toggle::after {
   color: #ccc;
}